
<%= render 'shared/admin_navbar' %>
<section class="about_us_area" id="ABOUT">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="about_title">
          <h1 style="margin-top: 10%">EDIT HOME PAGE</h1>
          <%= image_tag "shape.png" %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <%= form_for @welcome do |f| %>
        
        <% if @welcome.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@welcome.errors.count, "error") %> prohibited
            this welcome from being saved:
          </h2>
          <ul>
            <% @welcome.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <div class="col-md-6"> 
          <p>
            <%= f.label :title_pt %><br>
            <%= f.text_field :title_pt,class: "form-control" %>
          </p>
          <p>
            <%= f.label :subtitle_pt %><br>
            <%= f.text_field :subtitle_pt,class: "form-control" %>
          </p>
          <p>
            <%= f.label :texttitle_pt %><br>
            <%= f.text_field :texttitle_pt,class: "form-control" %>
          </p>
          <p>
            <%= f.label :text_pt %><br>
            <%= f.text_field :text_pt,class: "form-control" %>
          </p>
          <p>
            <%= f.label :image %><br>
            <%= f.file_field :image %>
          </p>
        </div>
        <div class="col-md-6"> 
          <p>
            <%= f.label :title_en %><br>
            <%= f.text_field :title_en,class: "form-control" %>
          </p>
          <p>
            <%= f.label :subtitle_en %><br>
            <%= f.text_field :subtitle_en,class: "form-control" %>
          </p>
          <p>
            <%= f.label :texttitle_en %><br>
            <%= f.text_field :texttitle_en,class: "form-control" %>
          </p>
          <p>
            <%= f.label :text_en %><br>
            <%= f.text_field :text_en,class: "form-control" %>
          </p>
          
          <p>
            <%= f.submit %>
          </p>

          <% end %>

          <%= link_to 'Back',   home_path   %>
        </div>
      </div>
    </div>
  </section>





