    <%= render 'shared/header' %>

<!--
                            image_tag "logo.png" 
                        
                            image_tag @welcome.image  -->
	<!--NAVBAR & BCKG-->
    <header style="background-image: url('<%= image_path(@welcome.image) %>');
                   background-size: cover;background-repeat: no-repeat; 
                   background-position: 50% -100px;"id="HOME">
        <div class="section_overlay">
            <% if current_user%>
                <%= render 'shared/admin_navbar'%>
            <% else %>
                <%= render 'shared/navbar' %>
            <% end %>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="home_text wow fadeInUp animated">
                            <% if @locale == 'pt'%>
                                <h2><%= @welcome.title_pt %></h2>
                                <p><%= @welcome.subtitle_pt %></p>
                            <%else%>
                                <h2><%= @welcome.title_en %></h2>
                                <p><%= @welcome.subtitle_en %></p>
                            <% end %>
                            <%= image_tag "shape.png" %>                       
                        </div>
                    </div>
                </div>
            </div> 
        </div>        
    </header>
    <!--/NAVBAR & BCKG-->

    <!--HOME-->
    <section class="services" id="SERVICE">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <div class="single_service wow fadeInUp" data-wow-delay="1s">
                        <% if @locale == 'pt'%>
                            <h2><%= @welcome.texttitle_pt %></h2>
                            <p><%= @welcome.text_pt %></p>
                        <%else%>
                            <h2><%= @welcome.texttitle_en %></h2>
                            <p><%= @welcome.text_en %></p>
                        <% end %>
                    </div>
                </div>
            </div>            
        </div>
    </section>
    <!--/HOME-->

    <%= render 'shared/footer' %>