<div class="col-md-9  wow fadeInRight animated">
  <div class="row">
    <form action="https://formspree.io/<%= @contact.email_pt%>"
          method="POST">
      <div>
        <input class="form-control" type="hidden" name="experience" value="<%= @order.experience_id %>">
      </div>
      <div>
        <input class="form-control" type="hidden" name="price" value="<%= @order.price %>">
      </div>
      <div>
        <input class="form-control" type="text" name="name" placeholder="Your Name" required>
      </div>
      <div>
        <input class="form-control" type="email" name="email" placeholder="Your email" required> <br>
      </div>
      <div>
        <label>Type of Payment:</label> <br>
        <input type="radio" name="payment" value="bank" checked> Transferência bancária
        <input type="radio" name="payment" value="paypal"> PayPal via e-mail<br>
      </div>
      <br>
      <div>
        <label>Date:</label>
        <input class="form-control" type="date" name="date" value="<%= Time.now.strftime('%Y-%m-%d')%>"><br>
      </div>
      <div>
        <label>Number of People:</label>
        <input class="form-control" type="number" name="people" min="1" max="100" value="1"><br>
      </div>    
      <hr>               
      <input type="submit" value="Send" class="btn btn-default submit-btn">
      <button class="btn btn-default submit-btn"><%= link_to 'Back', orders_path %></button>
  </form>                        
</div>
</div>