<%= render 'shared/admin_navbar' %>
<section class="about_us_area" id="ABOUT">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="about_title">
          <h1 style="margin-top: 10%">EDIT CONTACTS PAGE</h1>
          <%= image_tag "shape.png" %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <%= form_for @contact do |f| %>
        
        <% if @contact.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@contact.errors.count, "error") %> prohibited
            this contact from being saved:
          </h2>
          <ul>
            <% @contact.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <div class="col-md-6">
          <p>
            <%= f.label :text_pt %><br>
            <%= f.text_field :text_pt,class: "form-control" %>
          </p>



          <p>
            <%= f.label :phone_pt %><br>
            <%= f.telephone_field :phone_pt,class: "form-control" %>
          </p>
          <p>
            <%= f.label :email_pt %><br>
            <%= f.email_field :email_pt,class: "form-control" %>
          </p>
          <p>
            <%= f.label :address_pt %><br>
            <%= f.text_field :address_pt,class: "form-control" %>
          </p>
        </div>
        <div class="col-md-6">
          <p>
            <%= f.label :text_en %><br>
            <%= f.text_field :text_en,class: "form-control" %>
          </p>
          <p>
            <%= f.label :phone_en %><br>
            <%= f.telephone_field :phone_en,class: "form-control" %>
          </p>


          <p>
            <%= f.label :email_en %><br>
            <%= f.email_field :email_en,class: "form-control" %>
          </p>



          <p>
            <%= f.label :address_en %><br>
            <%= f.text_field :address_en,class: "form-control" %>
          </p>

          <p>
            <%= f.submit %>
          </p>
        </div>
        <% end %>
        
        <%= link_to 'Back',   contacts_path   %>


      </div>
    </div>
  </section>

  
