    <%= render 'shared/header' %>

    <!--NAVBAR-->
    <header id="HOME" style="background-position: 50% -125px;">
        <div class="section_overlay">
           <% if current_user%>
           <%= render 'shared/admin_navbar'%>
           <% else %>
           <%= render 'shared/navbar' %>
           <% end %>
       </div>        
   </header>
   <!--/NAVBAR-->  

   <!--CONTACT-->
   <section class="contact" id="CONTACT">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="contact_title  wow fadeInUp animated">
                    <h1><%= t ".title" %></h1>
                    <%= image_tag "shape.png" %>
                    <% if @locale == 'pt'%>
                    <p><%= @contact.text_pt %></p>
                    <%else%>
                    <p><%= @contact.text_en %></p>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3  wow fadeInLeft animated">
                <div class="single_contact_info">
                    <h2><%= t ".phone" %></h2>
                    <% if @locale == 'pt'%>
                    <p><%= @contact.phone_pt %></p>
                    <%else%>
                    <p><%= @contact.phone_en %></p>
                    <% end %>

                </div>
                <div class="single_contact_info">
                    <h2><%= t ".email" %></h2>
                    <% if @locale == 'pt'%>
                    <p><%= @contact.email_pt %></p>
                    <%else%>
                    <p><%= @contact.email_pt %></p>
                    <% end %>
                </div>
                <div class="single_contact_info">
                    <h2><%= t ".address" %></h2>
                    <% if @locale == 'pt'%>
                    <p><%= @contact.address_pt %></p>
                    <%else%>
                    <p><%= @contact.address_en %></p>
                    <% end %>
                </div>
            </div>
            
            <%= render 'form' %>
            
        </div>
    </div>
</section>
<!--/CONTACT-->

<%= render 'shared/footer' %> 