<%= form_for(@experience) do |f| %>
  <% if @experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% @experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :Product_id %>
  <div class="col-md-4">
  <div class="field">
    <%= f.label :program_type %><br>
    <%= f.select :program_type, [[t(".day"), "Day"], [t(".night"), "Nigth"], [t(".full_day"), "Full Day"]],class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :package_type %><br>
    <%= f.select :package_type, [[t(".lux"), "Lux"], [t(".standard"), "Standard"], [t(".budget"), "Budget"]],class: "form-control" %>
  </div>
  </div>
  <div class="col-md-4">
  <div class="field">
    <%= f.label :description_pt %><br>
    <%= f.text_field :description_pt,class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description_en %><br>
    <%= f.text_field :description_en,class: "form-control" %>
  </div>
  </div>
  <div class="col-md-4">
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price,class: "form-control" %>
  </div>
  <div class="actions">
  <p>
    <%= f.submit %>
    </p>
  </div>
  </div>
<% end %>
