    <%= render 'shared/header' %>

    <!--NAVBAR-->
    <header id="HOME" style="background-position: 50% -125px;">
        <div class="section_overlay">
             <% if current_user%>
                <%= render 'shared/admin_navbar'%>
            <% else %>
                <%= render 'shared/navbar' %>
            <% end %>
        </div>        
    </header>
    <!--/NAVBAR-->

    <!--FAQ-->
    <section class="about_us_area" id="FAQ">

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="about_title  wow fadeInUp animated">
                        <h2><%= t ".title" %></h2>
                        <%= image_tag "shape.png" %>
                    </div>
                </div>
            </div>
            <div bs-example>
            <% if @faq.questions.any? %>
            <div class="panel-group col-md-8 col-md-offset-2 wow fadeInLeft animated" id="accordion">
                <% @faq.questions.each do |question| %>
                <% if @locale == 'pt'%>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><%= question.name_pt %></a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p><%= question.answer_pt %></p>
                            </div>
                        </div>
                    </div>
                <%else%>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><%= question.name_en %></a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p><%= question.answer_en %></p>
                            </div>
                        </div>
                    </div>
                <% end %> 
                <% end %>
            </div>
            <% else %>
            <p><%= t ".none" %></p>
            <% end %>
        </div>
        </div>

        
    </section>
    <!--/FAQ-->

    <%= render 'shared/footer' %> 