<%= render 'shared/admin_navbar' %>

<section class="about_us_area" id="ABOUT">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="about_title">
                        <h1 style="margin-top: 10%">EDIT ABOUT PAGE</h1>
                        <%= image_tag "shape.png" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <%= form_for @about do |f| %>
 
                    <% if @about.errors.any? %>
                      <div id="error_explanation">
                        <h2>
                          <%= pluralize(@about.errors.count, "error") %> prohibited
                          this about from being saved:
                        </h2>
                        <ul>
                          <% @about.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                          <% end %>
                        </ul>
                      </div>
                    <% end %>
                   
                    <p>
                      <%= f.label :text_pt %><br>
                      <%= f.text_area :text_pt,class: "form-control" %>
                    </p>

                    <p>
                      <%= f.label :text_en %><br>
                      <%= f.text_area :text_en,class: "form-control" %>
                    </p>

                    <p>
                      <%= f.label :image %><br>
                      <%= f.file_field :image %>
                    </p>
                   
                    <p>
                      <%= f.submit %>
                    </p>
                   
                  <% end %>
                   
                  <%= link_to 'Back',   about_index_path   %>
                </div>
            </div>
</section>

 


