    <%= render 'shared/header' %>

    <!--NAVBAR-->
    <header id="HOME" style="background-position: 50% -125px;">
        <div class="section_overlay">
            <% if current_user%>
                <%= render 'shared/admin_navbar'%>
            <% else %>
                <%= render 'shared/navbar' %>
            <% end %>
        </div>        
    </header>
    <!--/NAVBAR-->  

    <!--ABOUT-->
    <section class="about_us_area" id="ABOUT">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="about_title">
                        <h2><%= t ".about" %></h2>
                        <%= image_tag "shape.png" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4  wow fadeInLeft animated">
                    <div class="single_image">
                        <% if @about.image.blank? %>
                            <%= image_tag "logo.png" %>
                        <% else %>
                            <%= image_tag @about.image %>                            
                        <% end %>
                    </div>
                </div>
                <div class="col-md-8  wow fadeInRight animated">
                    <% if @locale == 'pt'%>
                        <p class="about_us_p"><%= @about.text_pt %></p>
                    <%else%>
                        <p class="about_us_p"><%= @about.text_en %></p>
                    <% end %>
                </div>
        </div>
    </section>
    <!--/ABOUT-->

    <%= render 'shared/footer' %> 