<%= form_for @product do |f| %>
<div class="col-md-6">
  <p>
    <%= f.label :name_pt %><br>
    <%= f.text_field :name_pt,class: "form-control" %>
  </p>
  <p>
    <%= f.label :description_pt %><br>
    <%= f.text_area :description_pt,class: "form-control" %>
  </p>
  <p>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </p>
</div>
<div class="col-md-6">
 <p>
  <%= f.label :name_en %><br>
  <%= f.text_field :name_en,class: "form-control" %>
</p>
<p>
  <%= f.label :description_en %><br>
  <%= f.text_area :description_en,class: "form-control" %>
</p>

<p>
  <%= f.submit %>
</p>
</div>
<% end %>